# Logs
logs
*.log

# Dependencies
node_modules/
server/node_modules/

# Build
dist
dist-ssr

# Environment Variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store